<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main class="container">
      <section class="task-list">
        <h1>TASKLIST</h1>
        <ul>
          <li><%= link_to "Add Tasks", new_task_path %></li>
          <!-- change later -->
          <li><%= link_to "All Tasks", tasks_path %></li>
        </ul>
      </section>

      <section class="your-tasks">
        <%= yield %>
      </section>
    </main>

  </body>
</html>
